* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* PAGE HEADER BACK */
body {
    /* background-image: url(/image-animation2/bg.jpg); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: -1;
    mask-size: cover;
    mask-position: center;
    overflow-x: hidden;
    margin: 0;
    background-color: #13032c;
    color: #fff;
}
#hero{
    /* border:2px solid yellow; */
    font-size: 2em;
    
    
   
}

/* HEADER AREA */
header {
    display: flex;
    height:200px;
    background-image: url(/image-animation2/milky-way-1653689_1280.jpg); 
    /* -webkit-mask-image: linear-gradient(black, transparent); */
    /* mask-image: linear-gradient(black, transparent);  */
    text-shadow: 2px 1px 3px white;
    color: rgba(255, 166, 0, 0.753); 
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    justify-content: center;
    padding: 20px;
    /* text-shadow: 2px 1px 5px gold; */
    
    /* font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;  */
    color: orange;
}
/*name heading attributes*/
#name{
    display: flex;
    position: relative;
    top:40px;
   
    justify-content: center;
    font-size: 3em;
    text-shadow: 2px 1px 5px gold;
    /* font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; */
    color: orange;
}
/* business code*/
.motto{
    display: flex;
    justify-content: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    /* color: orange; */
    text-shadow: 2px 1px 5px gold;

}

#videoContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    border:3px solid orange;
    font-size: 60px;
    box-shadow: 1px 3px 2px white;
    margin:0px 0px 0px 50px;
    padding: 2px;
    width: 600px;
    height: 420px;
}
.options{
    position: relative;
    top: 900px;
    padding: 10px;
    margin: 0px 0px 0px 50px;
    width:20%;
    height:410px;
    /* border:1px dotted lime; */
   background-color: #fff;
}

/*bullet-point attributes*/
 li{
    list-style: none;
    align-items: center;
    background-color: rgb(23, 36, 36);
    padding:20px;
    margin: 5px;

}

/*bullet-point attributes*/
li::before {
    content: "\2022";
    color: orange;
    display: inline-block;
    font-size: 1em;
    width: 1em;
    margin-left: -1em;
}


.listing {
    width:200px;
    height:355px;
    box-shadow: 2px 1px 5px gold;
    margin:95px 0px 0px 40px;
}
#image{
    position: relative;
    float: right;
    bottom:300px; 
    right:30px;
    /* background-image: url(/image-animation2/green-1757807_1280.jpg); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 20px;
    border:3px dotted lime;
    border-radius: 50%;
    height:450px;
    width:450px;
}
/*image text placement*/
.placement{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

/* Navigation Bar */
.nav-bar {
    display: flex;
    justify-content: space-around;
    /* font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; */
    padding: 5px;
    border: 4px solid black;
    box-shadow: 1px 3px 2px white;
    border-top: none;
    border-right: none;
    border-left: none;
    margin: 10px;
    gap: 70px;
}

/* SERVICE SECTION */
p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    text-decoration: wavy;
}

/* HOVER EFFECT FOR SERVICE */
p:hover {
    color: orange;
}

/* HOME LINK ICON */
#home:visited {
    text-decoration-color: orange;
}

#home:hover {
    color: orange;
}

.links {
    display: inline-block;
    color: skyblue;
    text-decoration: none;
    box-shadow: 1px 1px 2px white;
    margin:20px 0px 0px 0px;
    border-left: none;
    border-top: none;
    padding: 5px;
}

.links:hover {
    color: orange;
}
.mission{
    /* border:3px solid gold; */
    color: white;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-shadow: 3px 0px 3px black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 160px;
    font-size: 10px;
    text-align: center;
}

/* Banner Section */
.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200vh;
    position: relative;
}

#our-services {
    font-size: 80px;
    display: flex;
    position: relative;
    top:90px;
    left: 250px;
    text-align: center;
    justify-content: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-shadow: 1px 3px 2px white;
    color: rgba(255, 166, 0, 0.753);
    font-size: 6em;
}

/* SERVICES BANNER */
.banner .content .title {
    display: flex;
    position: relative;
    left: 60px;
    justify-content: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-shadow: 1px 3px 2px white;
    color: rgba(255, 166, 0, 0.753);
    font-size: 6em;
}

.outerContainer {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    height: 120vh;
    text-align: center;
    padding: 25px;
    margin: 25px;
    gap: 20px;
    position: relative;
}

.section-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    padding: 25px;
    gap: 20px;
    text-align: center;
}
.mid-box1{
    position: relative;
    left:200px;
    display: flex;
    justify-content: end;
}

.mid-box,
.mid-box1,
.mid-box2,
.mid-box3,
.mid-boxa,
.mid-boxb,
.mid-boxc {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    text-align: center;
    align-content: center;
    top:15px;
    width: 350px;
    height: 250px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /* outline: 1px solid red; */
}

/* .mid-box {
    background-image: url(/image-animation2/digitization-5231610_1280.jpg);
} */





.mid-box3 {
    position: relative;
    right: 50px;
    /* background-image: url(/image-animation2/ball-63527_1280.jpg); */
}

.mid-boxa {
   
    background-image: url(/image-animation2/web-4687386_1280.jpg);
}

.mid-boxb {
    background-image: url(/image-animation2/web-4687386_1280.jpg);
}

.mid-boxc {
    position: relative;
    background-image: url(/image-animation2/binary-2372130_1280.jpg);
    right: 50px ;
}

/* Background Image with Mask */
.banner::before {
    content: '';
    position: absolute;
    inset: 0;
    background-image: url(/image-animation2/bg.jpg);
    background-size: cover;
    background-position: center;
    z-index: -1;
    mask-size: cover;
    mask-position: center;
}

/* Search Input Styling */
.search-input {
    display: flex;
    position: relative;
    left: 150px;
    color: skyblue;
    font-family: Georgia, 'Times New Roman', Times, serif;
    gap: 5px;
}
.footer{
    width: 100%;
    position: relative;
}

/*scroll-function*/
.scrolltop {
    display: flex;
    position: relative;
    top:1860px;
    justify-content: center;
    margin-top: auto;
    padding: 20px;
}

button{
    height:35px;
    color:orange;
    width: 80px;
    cursor: pointer;
    box-shadow:  2px 1px 5px gold;
    background-color: #13032c;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

    
